{% extends "main/index.html" %}
{% load static %}

{% block form %}
    <p>Witaj, {{ request.user.first_name }}!</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Wyloguj</button>
    </form>
    <h1 id="date"></h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zapisz</button>
    </form><br><br>

    <script>
        var current_date = new Date();
        var year = current_date.getFullYear();
        var month = current_date.getMonth() + 1;
    
        var miesiace = ["STYCZEŃ", "LUTY", "MARZEC", "KWIECIEŃ", "MAJ", "CZERWIEC",
                            "LIPIEC", "SIERPIEŃ", "WRZESIEŃ", "PAŹDZIERNIK", "LISTOPAD", "GRUDZIEŃ"];
    
        var miesiac = miesiace[current_date.getMonth()];
        document.getElementById("date").innerHTML = miesiac + " " + year;

        var dateField = document.getElementById('id_date');
        var today = new Date().toISOString().split('T')[0];
        dateField.value = today;
    </script>
{% endblock %}
